.header{
    height: 34vw;
    margin: 40px auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size:max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width: 768px) {
  .header {
    height: 50vw;
  }

  .header-contents {
    max-width: 80%;
    bottom: 5%;
  }

  .header-contents h2 {
    font-size: 24px;
  }

  .header-contents p {
    font-size: 14px;
  }

  .header-contents button {
    padding: 8px 16px;
    font-size: 14px;
  }
}